html {
	background-color: #1170B3;
}

body {
	background-color: #1170B3;
	font-family: Verdana, sans-serif;
	text-decoration: none;
	color: #fff;
}

h1 {
	font-family: Verdana, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 3em;
	color: #fff;
	margin-top: 3px;
}

h3 {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 110%;
	color: #f8ef64;
}

#downloads {
	border-top: 3px solid #7B96C6;
	border-bottom: 3px solid #7B96C6;
	text-align: center;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

@media (max-width: 800px) {
	body {
		padding: 0;
	}
}

/*! CSS Used from: Embedded */
h2 {
	background-color: #00cccc;
	padding: 6px;
}

h4 {
	background-color: #CFD103;
	padding: 8px;
	border: 2px solid red;
}

.event {
	border-top: 2px solid white;
}

#logo {
	text-align: center;
}

#logo img {
	width: max=20%;
}

#header {
	padding: 10px auto 10px auto;
	text-align: center;
}

@media (max-width: 600px) {
	#header {
		font-size: 20px;
	}
}

#menu {
	/* height: 1000px; */
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}

.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;

	background-color: #4CC713;
	color: white;

	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	border-radius: 20px;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #333;
	color: white;
}

.buttonDownload:before,
.buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;

	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;

	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #4CC713;
}

.buttonDownload:hover:after {
	border-top-color: #4CC713;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {

	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}

	0.001% {
		margin-top: -15px;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		margin-top: 0;
		opacity: 0;
	}
}