@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


html {
	justify-content: center;
	position: center;
	height: 100%;
	text-align: center;
	align-items: center;
	margin: auto;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
}


footer {
	position: relative;
	bottom: 0;
	background: #242424;
	width: 100%;
	font-family: "Open Sans";
	color: #fff;
	border-radius: 10px;
}

#footer {
	border-top: 1px groove #ACACAC;
	margin-top: 20px;
	font-size: 80%;
}

.grid {
	display: grid;
	/* height: 100%; */
	/* background-color: lightgreen; */
	grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(2, 50%);
	grid-gap: 100px;
	grid-auto-columns: 100%;
	grid-auto-flow: row;
}

.apps {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: 0
}


.apps a {
	text-decoration: none;
	color: #fff;
}


.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3 {
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 1srem;
}

.footer-content p {
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}


.footer-bottom {
	background: #000;
	width: 100%;
	text-align: center;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.footer-bottom p {
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.footer-bottom span {
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}

body {
	justify-content: center;
	position: center;
	align-items: center;
	margin: auto;
	height: 100%;
	padding: 0 25px 0 50px;
	background-color: #5b6268;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: rgb(240, 244, 245);
}

#menu {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: 35px;
	margin: auto;
}


a {
	color: #4CC713;
	text-decoration: none;
	border-bottom: 1px solid #71c288;
}

a:hover {
	color: #4CC713;
	text-decoration: none;
	border-bottom: 1px solid #4CC713;
}



h1 {
	font-family: Verdana, sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 3em;
	color: #fff;
	margin-top: 3px;
}

h3 {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 110%;
	color: #f8ef64;
}

h3 small {
	color: #fff;
	font-size: 70%;
	padding-left: 15px;
}

form.alignedform label {
	text-align: right;
	display: inline-block;
	vertical-align: middle;
	width: 10em;
	margin: 0 1em 0 0;
}

form.alignedform input {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #f8ef64;
	background-color: #333;
	color: #f8ef64;
	padding: 5px;
}

#menu {
	text-align: center;
	margin-bottom: 35px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	vertical-align: middle;
}

#menu ul li {
	float: left;
	padding-left: 25px;
	padding-right: 25px;
}

#menu ul li a {
	font-family: Verdana, sans-serif;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	border: none;
}

#menu ul li a:hover {
	color: #4CC713;
}


h2 {
	background-color: #71c288;
	padding: 6px;
	border-radius: 25px;
}

h4 {
	background-color: #53bb71;
	padding: 10px;
	border-radius: 20px;
	text-align: center;
}


@media (max-width: 800px) {

	body {
		padding: 5%;
	}
}

#logo {
	text-align: center;
}

#logo img {
	width: max=20%;
	border-radius: 20px;
}

#header {
	padding: 10px auto 10px auto;
	text-align: center;
}

#downloads {
	border-top: 2px solid white;
	text-align: center;
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

@media (max-width: 600px) {
	#header {
		font-size: 20px;
	}
}

.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 20px 25px;


	background: #000000;
	color: #ffffff;
	background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#262626));
	background: -webkit-linear-gradient(bottom, #000000, #262626);
	background: -moz-linear-gradient(bottom, #000000, #262626);
	background: -o-linear-gradient(bottom, #000000, #262626);
	background: linear-gradient(0deg, #000000, #262626);
	color: white;
	width: auto;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 1em;
	text-indent: 15px;
	text-align: center;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
}

.buttonDownload:hover {
	background-color: #0f8f13;
	color: #b3eec4;
}

.buttonDownload:before,
.buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;

	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;

	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #4CC713;
}

.buttonDownload:hover:after {
	border-top-color: #4CC713;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {

	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}

	0.001% {
		margin-top: -15px;
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		margin-top: 0;
		opacity: 0;
	}
}

@media (max-width: 600px) {
	h1 {
		font-size: 1.9em;
	}

	h2 {
		font-size: 1.4em;
	}
}

.download {
	width: 200px;
	height: 75px;
	background: black;
	border-radius: 5px;
	position: relative;
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
}

.download>.fa {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 15px;
	transform: translateY(-50%);
}

.df,
.dfn {
	position: absolute;
	left: 70px;
}

.df {
	top: 20px;
	font-size: .68em;
}

.dfn {
	top: 33px;
	font-size: 1.08em;
}

.download:hover {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}