<!doctype html>
<link rel="icon" href="/static/favicon.png">
<head>
    <meta property="og:title" content="HBNI Audio Archive" />
    <meta property="og:url" content="https://hbniaudioarchive.herokuapp.com" />
    <meta property="og:image" content="https://hbniaudioarchive.herokuapp.com/static/hbnilogo.png" />

    <meta property="og:description" content="Download or relisten to previously broadcasted streams."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/static/main.css' />
    <div id="logo">
        <img src="/static/hbnilogo.png">
    </div>
    <div id="menu">
        <h1 id="header">HBNI Audio Streaming Archive</h1>
    </div>
    <h4> Downloads </h4>
    <div id="downloads">
        {% for fileName, downloadLink in downloadableRecordings %}
            <p>
                <a class="buttonDownload" target="_blank" href={{ downloadLink }}>
                    <span>{{ fileName }}</span>
                </a>
            </p>
        {% endfor %}
        </div>
    </head>
</html>