<!doctype html>
<link rel="icon" href="/static/favicon.png">
<head>
    <meta property="og:title" content="HBNI Audio Archive" />
    <meta property="og:url" content="https://hbniaudioarchive.herokuapp.com" />
    <meta property="og:image" content="https://hbniaudioarchive.herokuapp.com/static/hbnilogo.png" />
    <meta property="og:description" content="Download or relisten to previously broadcasted streams."/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/static/main.css' />
    <div id="logo">
        <img src="/static/hbnilogo.png">
    </div>
    <div id="menu">
        <h1 id="header">HBNI Audio Streaming Archive</h1>
    </div>
    <h4> Downloads </h4>
    <div id="downloads">
        {% for fileName, downloadLink in downloadableRecordings %}
            <p>
                <a class="buttonDownload" target="_blank" href={{ downloadLink }}>
                    <span>{{ fileName }}</span>
                </a>
            </p>
        {% endfor %}
        </div>
    </head>

    <footer>
        <div class="footer-container">
            <h3>HBNI Streaming Archive</h3>
        </div
    <div class="address">For Questions, Comments or Concerns about this service please email: <a href="mailto:jared@pinelandfarms.ca">jared@pinelandfarms.ca</a></p>
        </div>
            <ul class="apps">
                <a class="download apple" href="https://apps.apple.com/ca/app/hbni-audio-streaming/id1611672333">
                    <i class="fa fa fa-apple fa-3x"></i>
                    <span class="df">Get it on</span>
                    <span class="dfn">App Store</span>
                </a>
                <a class="download windows" href="https://github.com/TheCodingJsoftware/HBNI-Audio-Stream-Listener/releases">
                    <i class="fa fa fa-windows fa-3x"></i>
                    <span class="df">Get it on</span>
                    <span class="dfn">Windows</span>
                </a>
                <a class="download android" href="https://play.google.com/store/apps/details?id=com.thecodingjsoftware.hutteritechurch">
                    <i class="fa fa fa-android fa-3x"></i>
                    <span class="df">Get it on</span>
                    <span class="dfn">Google Play</span>
                </a>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>Copyright 2022 by TheCodingJ's</p>
        </div>
    </footer>
</html>