<!doctype html>
<meta content="HBNI Audio Streaming Archive" property="title">
<link rel="icon" href="/static/favicon.png">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/static/main.css' />
    <div id="menu">
        <img src="/static/hbni_logo_dark.png">
        <h1>HBNI Audio Streaming Archive</h1>
    </div>
    <div id="downloads">
        <h2> Downloads </h2>
        {% for fileName, downloadLink in downloadableRecordings %}
            <p>
                <a class="buttonDownload" target="_blank" href={{ downloadLink }}>
                    <span>{{ fileName }}</span>
                </a>
            </p>
        {% endfor %}
        </div>
    </head>
</html>